@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1604985668671'); /* IE9 */
  src: url('iconfont.eot?t=1604985668671#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKkAAsAAAAABlwAAAJXAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApkdgE2AiQDCAsGAAQgBYRtBzMbnwXIDiVNA8GMwwICRjw8rf3v3NnZp5a+KB5Vs2gySYSGR9UE0UogFEKje6byr+byvgjyVW98WL4qkUIX/r2EL7PZ0vgKiUZVyBeqNJ5AVRgeOJ3uAg3kvJ7lds/hcwEDSwP9B6PISijjhrELXMJjAg0zFI2Di+tbbEBmrQrEtSTy2UAuKsusUBMqNQezeKpUS/fSN8yT8PvxlxUDJGXBajlydaHNpn/Ydkn3nZU7TvuAGAEdL1FgAyYTJ2qzh3QLhnVrZHssYPtqDH7Y//++XezVIthfZ9W3wBSU3pPMld9qfQI5np7CLI26ltTqXR+7//nul2b3wac7H8/fn4joFF4x2to+fvf25daG12n3pyZHOx0//fy/c29k8Z01reb5h6iw/C/TflZ8SO8Fgp90O+WO7/w30Mzg+838fGjO+vmp7c4X/BZZz6GsKyxbyqqs1p9MjVqZ0NDAChwcuB9rHN9DMdSM78RfNZ26CzVNBsGMbmBKTRuZipo9TMN6S8ebhlC3yHWscwSY0HPBJB1fmULPJZjRO6Y08clU9KKbaTgVwwubVkUydADBJ2jz4JAnoSyF46ChqHEDot3cx6wixHcA6yTBTc0oFpagBJxjS70XWUSCC5QFXwTPQZ5LXqFMISQtJqpaui7q3qSFsmBDDkDAR0AbFzjEJUJSSfiTyVDp8xtAZFfOhy1tNfEdANWS2TmTxugBLmnLXm338kptT8RCiMAJSCpwi2AeyOUkrqqflwIhoolHpCstuj1O9NVq6+uLDyhhXVimFPaOQv0CotxfB0GMAQAAAA==') format('woff2'),
  url('iconfont.woff?t=1604985668671') format('woff'),
  url('iconfont.ttf?t=1604985668671') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1604985668671#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowLeft:before {
  content: "\e65d";
}

